<h1>Books</h1>
<div class="content" >
    <div class="table-title" >
        <div class="title">Title</div>
        <div class="body">Body</div>
        <div class="vecant"></div>
    </div>
    <div class="content-body">
        <% @book.each do |book| %>
            <div class="content-title"><%= book.title %></div>
            <div class="content-body"><%= book.body %></div>
            <%= link_to "Show", book_path(book) %>
            <%= link_to "Edit", edit_book_path(book) %>
            <%= link_to "Destroy", book_path(book), method:"delete" %>
        <% end %>
    </div>
</div>
<h2>New book</h2>
<%= form_with model:@book_new, url:books_path, local:true do |f| %>
    <P>Title</P>
    <%= f.text_field :title %>
    <p>Body</p>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>

<% end %>
